<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detail Pegawai</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>
        <nav th:replace="fragments/fragment :: navbar"></nav>

        <div class="container">
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <br>
                <div class="card">
                    <div class="card-header">
                        <h3 th:text="'Lihat Data Pegawai - '+${pegawai.nip}"></h3>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td><b>NIP</b></td>
                                <td th:text="${pegawai.nip}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama</b></td>
                                <td th:text="${pegawai.nama}"></td>
                            </tr>
                            <tr>
                                <td><b>Tempat Lahir</b></td>
                                <td th:text="${pegawai.tempatLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Lahir</b></td>
                                <td th:text="${pegawai.tanggalLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Tahun Masuk</b></td>
                                <td th:text="${pegawai.tahunMasuk}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama Instansi</b></td>
                                <td th:text="${pegawai.getIdInstansi().getNama()} +' - '+${instansi.getIdProvinsi().getNama()}"></td>
                            </tr>
                            <tr>
                                <td><b>Jabatan</b></td>
                                <td >
                                    <ul>
                                        <li th:each="jabatanPegawai:${jabatan}">
                                            <span th:text="${jabatanPegawai.idJabatan.namaJabatan}"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Gaji</b></td>
                                <td th:text="'Rp. '+${gaji}"></td>
                            </tr>
                            <tr>
                                <td>
                                    <form th:action="@{/pegawai/ubah}" method="GET">
                                        <button th:value="${pegawai.nip}" type="submit" name="nip" class="btn btn-secondary">Ubah</button>
                                    </form>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>