<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Detail Jabatan</title>
        <object th:include="fragments/fragment :: css" th:remove="tag"></object>
        <object th:include="fragments/fragment :: js" th:remove="tag"></object>
    </head>

    <body>

    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">
                        <h4 th:text="'Detail Jabatan '+${jabatan.getNamaJabatan()}"></h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td><b>Nama</b></td>
                                <td th:text="${jabatan.getNamaJabatan()}"></td>
                            </tr>
                            <tr>
                                <td><b>Deskripsi</b></td>
                                <td th:text="${jabatan.getDeskripsiJabatan()}"></td>
                            </tr>
                            <tr>
                                <td><b>Gaji Pokok</b></td>
                                <td th:text="'Rp. ' + ${jabatan.getGajiPokok().intValue()}"></td>
                            </tr>
                            <tr>
                                <td><b>Jumlah Pegawai</b></td>
                                <td th:text="${jmlPegawai}"></td>
                            </tr>
                        </table>
                        <table>
                            <tr>
                                <td>
                                    <div class="col-md-2">
                                        <form th:action="@{/jabatan/ubah}" method="GET">
                                            <button th:value="${jabatan.getId()}" type="submit" name="idJabatan" class="btn btn-secondary">Ubah</button>
                                        </form>
                                    </div>
                                </td>
                                <td>
                                    <div class="col-md-2">
                                        <form th:action="@{/jabatan/hapus}" method="POST">
                                            <button th:value="${jabatan.getId()}" type="submit" name="idJabatan" class="btn btn-danger">Hapus</button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>