<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Detail Pegawai</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <div class="container">
        <br>
        <div class="row justify-content-center">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Data Pegawai Termuda</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td><b>NIP</b></td>
                                <td th:text="${termuda.nip}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama</b></td>
                                <td th:text="${termuda.getNama()}"></td>
                            </tr>
                            <tr>
                                <td><b>Tempat Lahir</b></td>
                                <td th:text="${termuda.tempatLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Lahir</b></td>
                                <td th:text="${termuda.tanggalLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama Instansi</b></td>
                                <td th:text="${termuda.getIdInstansi().getNama()} +' - '+${instansiPM.getIdProvinsi().getNama()}"></td>
                            </tr>
                            <tr>
                                <td><b>Jabatan</b></td>
                                <td >
                                    <ul>
                                        <li th:each="jabatanPegawai:${jabatanPM}">
                                        <span th:text="${jabatanPegawai.idJabatan.namaJabatan}"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Gaji</b></td>
                                <td th:text="'Rp. '+${gajiTermuda}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="card">
                    <div class="card-header">
                        <h4>Data Pegawai Tertua</h4>
                    </div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <tr>
                                <td><b>NIP</b></td>
                                <td th:text="${tertua.nip}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama</b></td>
                                <td th:text="${tertua.getNama()}"></td>
                            </tr>
                            <tr>
                                <td><b>Tempat Lahir</b></td>
                                <td th:text="${tertua.tempatLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Tanggal Lahir</b></td>
                                <td th:text="${tertua.tanggalLahir}"></td>
                            </tr>
                            <tr>
                                <td><b>Nama Instansi</b></td>
                                <td th:text="${termuda.getIdInstansi().getNama()} +' - '+${instansiPT.getIdProvinsi().getNama()}"></td>
                            </tr>
                            <tr>
                                <td><b>Jabatan</b></td>
                                <td >
                                    <ul>
                                        <li th:each="jabatanPegawai:${jabatanPT}">
                                            <span th:text="${jabatanPegawai.idJabatan.namaJabatan}"></span>
                                        </li>
                                    </ul>
                                </td>
                            </tr>
                            <tr>
                                <td><b>Gaji</b></td>
                                <td th:text="'Rp. '+${gajiTertua}"></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>